In [12]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [13]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)
Base.classes.keys()
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [14]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [17]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract
date_str = "06"
session.query(Measurement.date).filter(extract('month', Measurement.tobs) ==4).all()

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
prev_year = dt.date(2017, 6, 1)
prev_year = dt.date(2017, 6, 1) - dt.timedelta(days=365)

In [18]:
#  3. Convert the June temperatures to a list.
results = []

In [19]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
results = session.query(Measurement.date, Measurement.tobs)

In [20]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df = pd.DataFrame(results, columns=['date','June Temps'])
df.set_index(df['date'], inplace=True)
df.describe()

         June Temps
count  19550.000000
mean      73.097954
std        4.523527
min       53.000000
25%       70.000000
50%       73.000000
75%       76.000000
max       87.000000

## D2: Determine the Summary Statistics for December

In [21]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
from sqlalchemy import extract
date_str = "12"
session.query(Measurement.date).filter(extract('month', Measurement.tobs) ==4).all()

[]

In [22]:
# 7. Convert the December temperatures to a list.
results = []

In [23]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
results = session.query(Measurement.date, Measurement.tobs)

In [24]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df = pd.DataFrame(results, columns=['date','December Temps'])
df.set_index(df['date'], inplace=True)
df.describe()

       December Temps
count    19550.000000
mean        73.097954
std          4.523527
min         53.000000
25%         70.000000
50%         73.000000
75%         76.000000
max         87.000000