In [1]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)
Base.classes.keys()
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
prev_year = dt.date(2017, 6, 1)
prev_year = dt.date(2017, 6, 1) - dt.timedelta(days=365)

In [5]:
#  3. Convert the June temperatures to a list.
results = []

In [10]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
results = session.query(Measurement.date, Measurement.prcp)
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= prev_year).all()
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= prev_year).all()

In [9]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df = pd.DataFrame(results, columns=['date','June Temps'])
df.set_index(df['date'], inplace=True)
df.describe()

        June Temps
count  2484.000000
mean      0.199300
std       0.536388
min       0.000000
25%       0.000000
50%       0.020000
75%       0.150000
max       9.640000

## D2: Determine the Summary Statistics for December

In [19]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
from sqlalchemy import extract
prev_year = dt.date(2017, 12, 1)
prev_year = dt.date(2017, 12, 1) - dt.timedelta(days=365)

In [20]:
# 7. Convert the December temperatures to a list.
results = []

In [21]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
results = session.query(Measurement.date, Measurement.prcp)

In [22]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df = pd.DataFrame(results, columns=['date','December Temps'])
df.set_index(df['date'], inplace=True)
df.describe()

       December Temps
count    18103.000000
mean         0.160644
std          0.468746
min          0.000000
25%          0.000000
50%          0.010000
75%          0.110000
max         11.530000